{% extends 'base.html' %}

{% block title %}Welcome{% endblock %}

{% block content %}
<section class="hero-section container">
    
    <div class="text-center position-relative" style="z-index: 2;">
        <p class="hero-subtitle text-uppercase">The National Champion of Destination Real Estate</p>
        <h1 class="hero-title">Building the Difference</h1>
    </div>

    <div class="row align-items-end mt-5 position-relative" style="z-index: 2;">
        
        <div class="col-lg-5 mb-4 mb-lg-0">
            <h2 class="hero-desc mb-4">Shaping Immersive Places, Elevating People, Inspiring Life</h2>
            <div class="d-flex align-items-center gap-3">
                <a href="#" class="btn-circle-arrow">
                    <i class="fa-solid fa-arrow-right"></i>
                </a>
                <a href="#" class="btn-primary-custom text-decoration-none">LEARN MORE</a>
            </div>
        </div>

        <div class="col-lg-3"></div>


    </div>

    <div class="graphic-circle d-none d-lg-flex">
        <div class="graphic-inner"></div>
        <div class="graphic-inner" style="transform: rotate(20deg); width: 240px; height: 240px; border-color: rgba(46,111,94,0.2);"></div>
    </div>

</section>
{% endblock %}