{% extends 'base.html' %}
{% block title %}Password Reset Complete{% endblock %}

{% block content %}
<div class="auth-wrapper">
    <div class="auth-container">
        <div class="auth-header">
            <h2 style="color: #00c896;">Password Changed!</h2>
            <p>Your password has been set. You may go ahead and log in now.</p>
        </div>
        <div class="auth-form">
             <a href="{% url 'users:login' %}" class="btn-auth" style="display:block; text-align:center; text-decoration:none;">Log In</a>
        </div>
    </div>
</div>
{% endblock %}